<div *ngIf="!started" class="game-start">
    <ng-container *ngIf="ended">
        <div class="game-end-stats">
            <div class="row">
                <div class="col-md-4">
                    <app-correct-words-card [value]="correctWordCount"></app-correct-words-card>
                </div>

                <div class="col-md-4">
                    <app-incorrect-words-card [value]="incorrectWordCount"></app-incorrect-words-card>
                </div>

                <div class="col-md-4">
                    <app-time-elapsed-card [timeElapsed]="timeElapsed"></app-time-elapsed-card>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container>
        <div class="game-start-content">
            <div *ngIf="!showStarting">
                <button mat-flat-button (click)="startGame()" class="large-button" color="primary">Start</button>
                <button mat-flat-button color="accent" class="ml-2 large-button">HOW TO PLAY</button>
            </div>

            <div *ngIf="showStarting">
                <h3 class="timer-title">Game Starting In...</h3>
                <h1 class="timer-number">{{startingTimer}}</h1>
            </div>
        </div>
    </ng-container>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="gameplay">
            <div class="word-input">
                <app-word-input (onWordEntered)="addWord($event)" (onEndGame)="endGame()"></app-word-input>
            </div>

            <div class="stats">
                <div class="row">
                    <div class="col-md-4">
                        <app-correct-words-card [value]="correctWordCount"></app-correct-words-card>
                    </div>

                    <div class="col-md-4">
                        <app-incorrect-words-card [value]="incorrectWordCount"></app-incorrect-words-card>
                    </div>

                    <div class="col-md-4">
                        <app-time-elapsed-card [timeElapsed]="timeElapsed"></app-time-elapsed-card>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <mat-card class="height-100">
            <mat-card-title>
                Words Entered
            </mat-card-title>

            <mat-card-subtitle>
                Correct words you've entered
            </mat-card-subtitle>

            <mat-card-content>
                <div class="word-collection">
                    <mat-chip-list>
                        <mat-chip *ngFor="let word of wordsAdded">{{word}}</mat-chip>
                    </mat-chip-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>