<div class="homepage mt-2">
    <div class="top-title-section">
        <h2>WORDS I KNOW</h2>
    </div>

    <div class="word-input">
        <app-word-input></app-word-input>
    </div>

    <div class="stats">
        <div class="row">
            <div class="col-md-4">
                <app-correct-words-card></app-correct-words-card>
            </div>

            <div class="col-md-4">
                <app-incorrect-words-card></app-incorrect-words-card>
            </div>

            <div class="col-md-4">
                <app-time-elapsed-card></app-time-elapsed-card>
            </div>
        </div>

    </div>
</div>